

.fiveDayWidth{
    width: 19% !important;

}

.sevenDayWidth{
    width: 13.28% !important;

}

.eachWeatherContainer{
    /*background-color: lightblue;*/
    /*height: 400px;*/
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    padding: 0 0 0 0;
    margin-right: 1px;
}

.weatherItemContainers{
    text-align: center;

}

.weatherImgIcon{
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 90px;
}

.temperature{
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}

.temperatureLabel{
    font-size: 20px;
}
.weatherDateContainer{
    margin-bottom: 25px;
}

.weatherImgContainer{
    margin-bottom: 25px;
}

.temperatureContainer{
    margin-bottom: 30px;
}
.temperatureLabelContainer{
    margin-bottom: 73px
}

.moreInfoContainer{
    margin: 0 0 0 0;
    background-color: #5cb85c;
    height: 30px;
    line-height: 30px;

}

.moreInfoLabel{
    color: #ffffff;
    font-weight: bold;
}

.moreInfoDetailsContainer{
    background-color: white;
}

.moreInfoDetails{
    margin: 0 0 0 0;
}

.moreInfoTable{
    margin-bottom: 0px;
}

.moreInfoKeyValues{
    text-align: center;
}

.maxTempLabel{
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

