<div class="eachWeatherContainer" ng-class="{'col-md-2 fiveDayWidth': numberOfDays === '5', 'col-md-2 sevenDayWidth': numberOfDays === '7', 'col-md-3 col-md-offset-2': numberOfDays !== '5' && numberOfDays !== '7'  }">

    <div class="weatherItemContainers weatherDateContainer">
        <h3>
            {{convertToDate({dateVal:weatherDay.dt}) | date: dateFormat}}
        </h3>
    </div>

    <div  class="weatherItemContainers weatherImgContainer">
        <img class="weatherImgIcon" ng-src="{{weatherImgLink + weatherDay.weather[0].icon + '.png' }}" class="img-responsive img-circle" alt="weather icon image">
    </div>

    <div class="weatherItemContainers temperatureContainer">
         <p class="temperature">{{convertToStandard({tempVal:weatherDay.temp.day})}} &deg;F</p>
         <p class="maxTempLabel">Max</p>
    </div>

    <div class="weatherItemContainers temperatureLabelContainer">
        <p class="temperatureLabel" >{{weatherDay.weather[0].description}}</p>
    </div>

    <div class="weatherItemContainers moreInfoDetailsContainer" ng-show="moreInfo">
        <table class="table table-striped moreInfoTable">
            <thead>
            <tr>
                <th class="moreInfoKeyValues bg-primary">Keys</th>
                <th class="bg-primary">Values</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, val) in weatherDay.temp">
                <th class="moreInfoKeyValues">{{key}}</th>
                <th>{{convertToStandard({tempVal:val})}} &deg;F</th>
            </tr>
            </tbody>
        </table>
        <!--<p class="moreInfoDetails">{{convertToStandard({tempVal:weatherDay.temp.day})}} &deg;</p>
        <p class="moreInfoDetails"> INFO HERE!</p>
        <p class="moreInfoDetails"> INFO HERE!</p>
        <p class="moreInfoDetails"> INFO HERE!</p>
        <p class="moreInfoDetails"> INFO HERE!</p>-->

    </div>

    <div class="weatherItemContainers moreInfoContainer" ng-click="(moreInfo === true) ? moreInfo = false : moreInfo = true">
        <p class="moreInfoLabel"> More Info</p>
    </div>




</div>


<!--
ng-class="{col-md-2 fiveDayWidth: parseInt(days) === 5, col-md-2 sevenDayWidth: parseInt(days) === 7, col-md-3 col-md-offset-2: parseInt(days)!== 5 && parseInt(days) !== 7  }"
<div class="panel panel-default">
    <div>
        <img ng-src="{{weatherImgLink + weatherDay.weather[0].icon + '.png' }}" class="img-responsive img-circle" alt="weather icon image">
    </div>

    <div class="panel-heading">
        <h3 class="panel-title">
            {{convertToDate({dateVal:weatherDay.dt}) | date: dateFormat}}
        </h3>
    </div>
    <div class="panel-body">
        Daytime temperature: {{convertToStandard({tempVal:weatherDay.temp.day})}}
    </div>
</div>

-->
